/* This file is for your main application css. */

@import "~bootstrap/scss/bootstrap";
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: $primary;
    text-align: center;
  }